---
import Parent from "../components/Parent.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Reproduction for Astro Issue 14252</title>
  </head>
  <body>
    <h1>Reproduction for Astro Issue 14252</h1>
    <Parent client:load />
  </body>
</html>
